<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Music Web App</title>
        <meta charset="utf-8">
    </head>
    <body>

        <form action="/albums" method="POST">
            <p>
                <label for="title">Title: </label><br>
                <input type="text" name="title">
            </p>
            <p>
                <label for="release_year">Released: </label><br>
                <input type="text" name="release_year">
            </p>
            <p>
                <label for="artist_id">Artist ID: </label><br>
                <input type="text" name="artist_id">
            </p>
            <p>
                <input type="submit" value="Create Album">
            </p>
        </form>
    </body>
</html>